.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.column-full,
.column-half {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-half {
    flex-basis: 50%;
  }
}
